<h1 class="mb-4">Players List</h1>

<table class="table table-striped table-hover table-bordered align-middle">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Status</th>
      <th>Matches</th>
      <th>Wins</th>
      <th colspan="2">Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.email %></td>
        <td><%= player.country %></td>
        <td>
          <% if player.active? %>
            <span class="badge bg-success">Active</span>
          <% else %>
            <span class="badge bg-secondary">Beta-active</span>
          <% end %>
        </td>
        <td><%= player.matches %></td>
        <td><%= player.wins %></td>
        <td>
          <%= link_to "Edit", edit_player_path(player), class: "btn btn-sm btn-warning" %>
        </td>
        <td>
          <%= link_to "Delete", player_path(player), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Player", new_player_path, class: "btn btn-primary mt-3" %>